# Dependencias (Lo que hace que la terminal se vuelva loca)
node_modules/
functions/node_modules/
functions 2/node_modules/

# Firebase y Despliegue
.firebase/
_deploy_main/
firebase-debug.log
firestore-debug.log
ui-debug.log

# Variables de entorno (Seguridad de tus llaves)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Archivos de sistema y editores
.DS_Store
Thumbs.db
.vscode/